[Unit]
Description=Paperless Celery Workers
Requires=redis.service
PartOf=paperless.target

[Service]
User=paperless
Group=paperless
WorkingDirectory=/usr/share/paperless/src
ExecStart=celery --app paperless worker --loglevel INFO
Restart=on-abort

[Install]
WantedBy=paperless.target
