[Unit]
Description=Paperless webserver service
Requires=redis.service
After=network.target
Wants=network.target
PartOf=paperless.target

[Service]
User=paperless
Group=paperless
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/etc/paperless.conf
WorkingDirectory=/usr/share/paperless/src
ExecStart=/usr/bin/granian --interface asginl --ws paperless.asgi:application
Restart=on-abort

[Install]
Also=paperless-webserver.socket
WantedBy=paperless.target
