[Unit]
Description=Socket for Paperless webserver
PartOf=paperless-webserver.service

[Socket]
ListenStream=/run/paperless.sock
SocketUser=paperless
SocketGroup=paperless
SocketMode=0660
RemoveOnStop=True

[Install]
WantedBy=sockets.target
